h1{
  text-align: center;
}

.centarElemetos{
  display: block;
  margin: auto;
  text-align: center;
}

.resultado{
  font-size: 1.5em;
  font-weight: bold;
}
body{
  background-image: url("./assets/hj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}